html,body {
  background-color: #f8f8f8;
  color: #333333;
  height: 100%;
  line-height: 20px
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.love-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 50px;
  background-color: #fff;
  overflow-y: scroll;
}
.nomal-btn
  margin 0 auto
  display inline-block
  padding 12px 60px
  text-align center
  background-color rgba(19, 68, 65, 1)
  font-size 16px
  color #fff
  border-radius 22px
.nomal-empty-btn
  background-color rgba(19, 68, 65, .6)
.register-btn
  display inline-block
  margin-left 10px
  margin-right 10px
  width 100px
  height 40px
  line-height 40px
  border 1px solid #333
  border-radius 5px
  font-size 14px
  color #333
  cursor pointer
.login-input
  height 40px
  line-height 40px
  font-size 14px
  margin-top 30px
.user-icon
  display inline-block
  width 16px
  height 16px
  background-size 100%
.love-enter
  padding-left: 17px
  padding-right: 17px
  height 56px
  line-height: 56px
  text-align: left 
  color: rgba(20, 20, 20, 1)
  font-size: 16px
  .span1
    padding-left 18px
.enter-text
  display inline-block
  width:  160px
  text-align: right 
  font-size: 14px
  color: #cccccc
  padding-right: 10px
.no-data
  text-align: center
  padding-top: 30px
  font-size: 14px
  color: #333333
.enter-icon
  display inline-block
  width:8px;
  height:14px;
  background-image url('../images/enter-icon.png')
  background-size 100%
.enter-place
  color rgba(189, 188, 188, 1)
  font-size 16px
  padding-left 16px


.nickname-input
  font-size 14px
  padding-top 18px
  padding-bottom 18px
  padding-left 16px
  padding-right 16px
  .span1
    padding-left 18px
.user-nick-icon
  background-image url('../images/user-nick-icon.png')
.user-sign-icon
  background-image url('../images/user-sign-icon.png')
.user-jod-icon
  background-image url('../images/user-jod-icon.png')
.user-person-icon
  background-image url('../images/user-person-icon.png')
.user-sex-icon
  background-image url('../images/user-sex-icon.png')
.user-city-icon
  background-image url('../images/user-city-icon.png')
.user-birthday-icon
  background-image url('../images/user-birthday-icon.png')
.textarea
  margin-left 16px
  height 120px
  padding 10px
  border 1px solid rgba(229, 229, 229, .7)
  border-radius 3px