.man1
  background-image url('../images/man-1.png')
.man2
  background-image url('../images/man-2.png')
.man3
  background-image url('../images/man-3.png')
.woman1
  background-image url('../images/woman-1.png')
.woman2
  background-image url('../images/woman-2.png')
.woman3
  background-image url('../images/woman-3.png')