.cube-action-sheet-fade-enter, .cube-action-sheet-fade-leave-active {
  opacity: 0
}
.cube-action-sheet-fade-enter-active, .cube-action-sheet-fade-leave-active {
  transition: all .3s ease-in-out
}
.cube-action-sheet-move-enter, .cube-action-sheet-move-leave-active {
  transform: translate3d(0, -100%, 0)
}
.cube-action-sheet-move-enter-active, .cube-action-sheet-move-leave-active {
  transition: all .3s ease-in-out
}
.cube-action-sheet-up-enter, .cube-action-sheet-up-leave-active {
  transform: translate3d(0, 100%, 0)
}
.cube-action-sheet-up-enter-active, .cube-action-sheet-up-leave-active {
  transition: all .3s ease-in-out
}